body{
    margin: 0;
    background-color: whitesmoke;
    font-family: sans-serif;
}
h1{
    margin: 0;
}
nav{
    background: white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
}
ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: end;
}
li{
    width: 100px;
    text-align: center;
    
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 24px;
}
