body {
    margin: 0;
    background-color: whitesmoke;
    font-family: Georgia,serif;
}

nav {
    background: white;
    box-shadow: 0 1em 2em rgba(0,0,0,0.05);
}

ul {
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 16px 0px;
    list-style: none;
}

li {
    width: 100px;
    text-align: center;
    
}
a {
    font-size: 24px;
    color: black;
    text-decoration: none;
}
