body{
    margin: 0;
    background-color: whitesmoke;
    font-family: "sans-serif";
}
h1{
    margin: 0; 
}

nav{
    background-color: white;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.05);
}

ul{
    display: flex;
    margin: 0;
    padding: 16px 0;
    list-style: none;
    justify-content: flex-end;
}

li{
    width: 100px;
    text-align: center;
}

a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 24px;
    
}